html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 758px) {
  .GNB {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #333333;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 10px 0px 0,0,0,0.15;
            box-shadow: 0px 4px 10px 0px 0,0,0,0.15;
  }
  .GNB .leftSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #333333;
  }
  .GNB .leftSide .logo {
    display: inline-block;
    margin: auto 0 auto 16px;
    height: 25px;
    width: 25px;
    background-color: #333333;
  }
  .GNB .leftSide input {
    margin: auto 0 auto 16px;
    height: 25px;
  }
  .GNB .leftSide a {
    padding: 16px;
  }
  .GNB .rightSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border: 1px solid #333333;
    width: 200px;
  }
  .GNB .rightSide .notification, .GNB .rightSide .dropDown, .GNB .rightSide .profile {
    display: inline-block;
    margin: auto 16px auto 0;
    height: 25px;
    width: 25px;
    background-color: #555555;
  }
  .bottom {
    margin-top: 100px;
    margin: 100px auto;
    max-width: 1200px;
    border: 1px solid #42B0FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
  }
  .bottom .left {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    height: 50px;
    background-color: #77DE5D;
  }
  .bottom .left .botton-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
  }
  .bottom .left .botton-area .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #FFD80B;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 50px;
  }
  .bottom .left .botton-area .left .button {
    background-color: #555555;
    margin-left: 10px;
    height: 25px;
    width: 25px;
  }
  .bottom .left .botton-area .right {
    background-color: #FFC165;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50px;
  }
  .bottom .left .botton-area .right .button {
    display: inline-block;
    background-color: #555555;
    margin-right: 10px;
    height: 25px;
    width: 25px;
  }
  .bottom .right {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
/*# sourceMappingURL=index.css.map */